* {
  box-sizing: border-box;
}

body {
  color: white !important;
  background-image: url("../imagenes/fondo.jpg") !important;
  font-family: 'Aclonica' !important;
  margin-top: 0% !important;
  margin-bottom: 3% !important;
  z-index: -1 !important;  
}

/* Float four columns side by side */
.column {
  float: left !important;
  width: 25% !important;
  padding: 0 15px !important;
  margin-top: 2% !important;
  z-index: 10 !important;  
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px !important;
  z-index: 20 !important;  
}

.imageCard {
  width: 100% !important;
  height: 100% !important;
  z-index: 30 !important;  
}

/* Clear floats after the columns */
.row:after {
  content: "" !important;
  display: table !important;
  clear: both !important;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100% !important;
    display: block !important;
    margin-bottom: 20px !important;
    z-index: 40 !important;  
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  height: 400px !important;
  text-align: center !important;
  background-color: black !important;
  z-index: 50 !important;  
  position:relative !important;
}

/*INICIO TOOL TIPS*/
.tooltip {
  position: relative !important;
  display: inline-block !important;
  border-bottom: 1px dotted black !important;
}

.tooltip .tooltiptext {
  visibility: hidden  !important;
  width: 200px !important;
  background-color: white !important;
  color: black !important;
  text-align: center !important;
  border-radius: 6px !important;
  padding: 5px 0 !important;

  /* Position the tooltip */
  position: absolute !important;
  z-index: 100 !important;
}

.tooltip:hover .tooltiptext {
  visibility: visible !important;
}

/* FIN TOOL TIPS*/